.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.carousel-nav-left,
.carousel-nav-right {
  z-index: 1;
}